body{

    background:var(--bg-main);

    color:var(--text-main);

    font-family:"Inter", Arial, sans-serif;

}


.container{

    width:min(90%, var(--container));

    margin:auto;

}


section{

    padding:100px 0;

}
.header + main{

    padding-top:100px;

}
html{

    scroll-behavior:smooth;

}