.services{

    padding:120px 0;

}


.section-title{

    max-width:700px;

    margin-bottom:70px;

}


.section-title span{

    color:var(--accent);

    font-size:.8rem;

    letter-spacing:3px;

}



.section-title h2{

    font-size:clamp(2.5rem,5vw,4rem);

    letter-spacing:-2px;

    margin:20px 0;

}



.services-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

}


.service-card{

    position:relative;

    overflow:hidden;

    padding:40px;

    min-height:280px;

    border-radius:var(--radius);

    border:1px solid var(--border);

    background:
    linear-gradient(
    145deg,
    rgba(255,255,255,.05),
    rgba(255,255,255,.02)
    );

    transition:.45s ease;

}



.service-card::before{

    content:"";

    position:absolute;

    top:-100%;

    left:-100%;

    width:200%;

    height:200%;

    background:
    radial-gradient(
    circle,
    rgba(0,168,89,.15),
    transparent 40%
    );

    opacity:0;

    transition:.5s ease;

}



.service-card:hover::before{

    opacity:1;

}



.service-card:hover{

    transform:translateY(-12px);

    border-color:rgba(0,210,106,.6);

    box-shadow:

    0 25px 60px rgba(0,168,89,.18);

}



.service-main{

    grid-column:span 2;

}



.service-icon{

    width:55px;

    height:55px;

    margin-bottom:30px;

    transition:.4s ease;

}



.service-card:hover .service-icon{

    transform:

    scale(1.12)
    rotate(5deg);

}



.service-icon svg{

    width:100%;

    height:100%;

    fill:none;

    stroke:var(--accent);

    stroke-width:1.5;

}



.service-card h3{

    font-size:1.5rem;

    margin-bottom:15px;

    transition:.3s ease;

}



.service-card:hover h3{

    transform:translateX(5px);

}



.service-card p{

    color:var(--text-secondary);

    max-width:400px;

}